.page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.between{
    display: flex;
    justify-content: space-between;
}
.container {
    position: relative; /* 부모 요소로서의 기준 */
    height: 100vh; /* 화면 전체 높이 */
}
.content {
    margin-left: 250px; /* 사이드바의 고정 너비만큼 여백 */
    padding: 20px;
    background-color: #fff; /* 예시 배경색 */
    height: 100%; /* 전체 화면 높이 */
    overflow-y: auto; /* 스크롤 활성화 */
}

.flex {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
}