/* ExercisePage.css */
.exercise-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.between{
    display: flex;
    justify-content: space-between;
}

.exercise-list,
.exercise-log,
.exercise-stats {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
