.page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.between{
    display: flex;
    justify-content: space-between;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 세로 정렬 */
    gap: 20px; /* 캘린더와 운동 일지 사이 간격 */
    padding: 20px;
}

